* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
    font: inherit;
    &:enabled {
        cursor: pointer;
    }
    background-color: transparent;
}

/* utils */
.rounded-full {
    border-radius: 9999px;
}

.font-mono {
    font-family: 'Fira Mono', monospace;
}

.whitespace-pre-wrap {
    white-space: pre-wrap;
}

:root {
    --color-black: #212529;
    --color-grey-dark: #6C757D;
    --color-grey-mezzodark: #ADB5BD;
    --color-grey-mezzolight: #CED4DA;
    --color-grey-light: #DEE2E6;
    --color-white: #F8F9FA;

    --color-text: var(--color-black);
    --color-bg: var(--color-grey-dark);
    --color-page: var(--color-grey-light);
    --color-header: var(--color-grey-mezzodark);
    --color-badge: var(--color-grey-mezzolight)
}

body {
    min-height: 100vh;
    background-color: var(--color-bg);
    font-family: 'Fira Sans', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    height: 140px;
    padding: 30px;
    background-color: var(--color-header);

    nav {
        background-color: var(--color-page);
        border-radius: 9999px;
        width: fit-content;
        overflow: clip;
        display: flex;

        button {
            font-weight:300;
            text-transform: lowercase;
            &.selected {
                background-color: var(--color-white);
            }
        }
    }
    
    button {
        background-color: var(--color-page);
        width: min-content;
        font-size: 32px;
        padding-block: 20px;
        padding-inline: 32px;
    }
}

#content {
    display: grid;
    justify-content: center;
}

.page {
    background-color: var(--color-page);
    width: fit-content;
    padding-inline: 100px;
    height: 100%;
    display: grid;
    place-content: center;
    &.home {
        font-family: 'Fira Mono', monospace;
        font-size: 128px;
        text-transform: uppercase;
        line-height: 156%;
        letter-spacing: 31%;
        h1 {
            font: inherit;
            max-width: min-content;
        }
    }
    &.about {
        font-size: 36px;
        line-height: 156%;
        letter-spacing: 9%;
    }
}